*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.loader-spin {
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 5px solid gray;
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: none;
  margin-top: 15px;
}
.loader.is-visible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.form {
  display: flex;
  gap: 8px;
}

.form label input {
  width: 272px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: 1px solid gray;
  padding: 0 16px;
  transition: all 250ms ease-in-out;
}
.form input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.form label input:hover {
  border: 1px solid #000;
}
.form label input:focus {
  border: 1px solid #4e75ff;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: all 250ms ease-in-out;
}
.form button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.image-item {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.image-info {
  width: 360px;
  height: 48px;
  padding: 4px 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 28px;
  bottom: 0;
  background-color: #fff;
}

.image-info p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.counts {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 10px 15px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #333;
  color: white;
  cursor: pointer;
  display: none;
  z-index: 1000;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  opacity: 1;
}

.show-more-btn {
  margin: 0 auto;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 120px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  margin-top: 24px;
}

.show-more-btn:hover {
  background: #6c8cff;
}

.js-show-more {
  display: flex;
}
